@font-face {font-family: Source Code Pro; src: url('resources/SourceCodePro-Regular.ttf'); }

:root{
    --darkgrey:#252525;
    --midgrey: #1B1B1B;
    overflow: hidden;
}

body{
    font-family: Source Code Pro;
    font-size: 14px;
    color: whitesmoke;
    background-color: var(--darkgrey);
}

div.editor{
    resize: none;
    position: absolute;
    display: inline-block;
    left: 2.5%;
    top: 2.5%;
    height: 80%;
    width: 80%;

    color: whitesmoke;
    background-color: var(--midgrey);
}

div.utils{
    resize: none;
    position: relative;
    display: inline-block;
    left: 2.5%;
    top: 85%;

    width: 80%;
}

textarea{
    resize: none;
    position: relative;
    height: 20px;
    width: 90%;

    flex-wrap: nowrap;
    font-family: Source Code Pro;
    vertical-align: middle;
    
    color: whitesmoke;
    background-color: var(--midgrey);
}
